body {
  background-color: #000;
  background-image: url(/img/backdrop.png);
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-clip: inherit;
  background-position: center;
}
h1 {
  font-size: 19px;
}
p {
  font-size: 11px;
  display: inline-block;
}
a {
  color: #fff
}

/*page layout*/
#mainbody {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 10px;
  height: inherit;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*top menu layout*/
#topbar {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 10px;
  text-align: center;
}
.menuelement {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  display: inline-block;
  font-family: cambria;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  text-shadow: 0px 0px 3px #000;
  transition: 0.7s;
}
.menuelement:hover {
  box-shadow: 0px 0px 20px #fff;
}
.selected {
  background-color: rgba(123, 123, 123, 0.5)
}

/*mundane text layout*/
#ingress, {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.paragraph {
  margin-top: 3px;
  margin-bottom: 3px;
}
.textblock {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*person page layout*/
#peopleflexpc {
  padding: 20px;
  width: 100%;
}
#peopleflexNpc {
  padding: 20px;
  width: 100%;
}
.personbox {
  width: 45%;
  height: 162px;
  margin: 20px;
  padding: 10px;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.5);
  outline-color: #aaa;
  outline-style: solid;
  outline-width: 1px;
  box-shadow: 0px 0px 30px #000;
  transition: height 0.5s;
}
.personbox:target {
    height: auto;
    opacity: 1;
}
.scrollhoverbox {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 3px;
  text-align: left;
}
.textbox {
  flex:1;
  margin: 11px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left-style: solid;
  border-width: 7px;
  border-color: #555;
  padding: 8px;
}
.textbox:hover {
  overflow-y: auto;
}
.personparagraph {
  display: inline-block;
  margin: 5px;
}
.footnote {
  font-style: italic;
  display: inline-block;
  font-size: 10px;
  margin: 5px;
  color: #ccc
}
.personname {
  text-decoration: none;
  text-align: center;
  font-size: 19px;
  margin: 8px;
  padding: 4px;
  position: sticky;
    
}
.scrollhoverbox:hover {
  overflow: auto;
}
.personimage {
  background-color: #222;
  display: block;
  margin: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 50%;
  transition: 0.5s;
  width: 150px;
  height: 150px;
}
.personimage:hover {
  border-radius: 0%;
  box-shadow: 0px 0px 10px #fff;
}

/*person ID tags*/
#caijunnian .personimage{
  background-image: url(img/People/Cai%20Junnian%20150px.png)
}
#favan .personimage{
  background-image: url(img/People/Favan%20150px.png)
}
#elia .personimage{
  background-image: url(img/People/Elia%20150px.png)
}
#julianos .personimage{
  background-image: url(img/People/Julianos%20150px.png)
}
#mcknight .personimage{
  background-image: url(img/People/mcKnight%20150px.png)
}
#juliet .personimage{
  background-image: url(img/People/Juliet%20150px.png)
}
#fennic .personimage{
  background-image: url(img/People/Fennic%20150px.png)
}
#ira .personimage{
  background-image: url(img/People/Ira%20150px.png)
}
#quai .personimage{
  background-image: url(img/People/Quai%20150px.png)
}
#grendur .personimage {
  background-image: url(img/People/Grendur%20150px.png)
}
#hazel .personimage{
  background-image: url(img/People/Hazel%20150px.png)
}
#eradin .personimage{
  background-image: url(img/People/Eradin%20150px.png)
}
#udrex .personimage{
  background-image: url(img/People/Udrex%20150px.png)
}

/*retired tag*/
.halfbox {
  width: 50%;
  display: inline-block;
  text-align: center
}
    /*css simplification classes*/
    .left {
      float: left
    }
    .right {
      float: right
    }

/*groups/factions layout*/
.factionbox {
  height: 300px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 30px #000;
  outline-color: #aaa;
  outline-style: solid;
  outline-width: 2px;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  float: left;
}
.factionbox:hover {
  overflow-x: hidden;
  overflow-y: auto;
}
.row {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.factiontitle {
  z-index: 5;
  position: sticky;
  text-align: center;
  border-bottom-style: solid;
  border-width: 7px;
  border-color: #555;
  padding: 5px;
  margin: 10px;
  font-family: 'Ubuntu';
}
.factiontext {
  text-align: left;
  margin: 4px;
}
.flagicon {
  position: sticky;
  height: 300px;
  width: 300px;
  margin-top: 12px
}
.unimportant {
  opacity: 0.3;
  transition: 1s
}
.unimportant:hover {
  opacity: 1
}

/*map class tags*/
.mapbutton {
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 20px;
  padding: 12px 16px;
  font-size: 15px;
  display: inline-block;
  font-family: cambria;
  color: #fff;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  text-shadow: 0px 0px 3px #000;
  transition: 0.7s;
}
#mapbody {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 10px;
  height: inherit;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}
.mapcontainer {
  position: relative;
  height: 95%;
  width: 100%;
  display: none;
  overflow: scroll;
  resize: both;
  top: 10px
}
.map {
  z-index: -10;
  float: left;
}
.labelcontainer {
  position: relative;
  font-family: cambria;
}

/*map labels class tags*/
.mapheading, .pentarhytext {
  text-shadow: 0px 0px 10px #000, 0px 0px 10px #000;
  color: #fff;
  z-index: 10;
  font-size: 172px;
  padding: 10px;
  position: absolute;
  opacity: 0.5;
  text-align: center;
  transition: 0.4s;
}
.maplabel1 {
  color: #fff;
  z-index: 10;
  font-size: 32px;
  padding: 10px;
  position: absolute;
  opacity: 0.5;
  text-align: center;
  transition: 0.4s
}
.maplabel1:hover {
  opacity: 1;
  text-shadow: 0px 0px 10px #000, 0px 0px 10px #000;
}
.mapheading:hover, .pentarchytext {
  opacity: 1;
  visibility: visible;
}
.pentarhytext {
  visibility: hidden;
}

/*map ID tags*/
#eastern-pentarchy {
  left: 4350px;
  top: 650px;
}
#western-pentarchy {
  left: 350px;
  top: 1390px;
}
#northern-pentarchy {
  left: 2000px;
  top: 350px;
}
#southern-pentarchy {
  left: 950px;
  top: 2699px;
}
#favans-pentarchy {
  left: 3950px;
  top: 2900px;
}
#pit-fights {
  left: 4382px;
  top: 1715px;
}
#tavern1 {
  left: 4270px;
  top: 1485px;
}
#warschool {
  left: 4230px;
  top: 1720px;
  transform: rotate(4deg);
}
#cornerstone {
  left: 4060px;
  top: 1460px;
}
#theivesguild1 {
  left: 4645px;
  top: 1690px;
  transform: rotate(-10deg);
}
#RedFacton {
  left: 4580px;
  top: 1790px;
  transform: rotate(15deg);
}
#Estate1 {
  left: 4100px;
  top: 1584px;
  transform: rotate(6deg);
}
#Company1 {
  left: 4350px;
  top: 1308px;
  transform: rotate(-9deg);
}
#Factory1 {
  left: 4460px;
  top: 1315px;
  transform: rotate(76deg);
}
#valisiamap, #favanistanmap, {
  display: none
}

/* music layour */
.musicheading {
  font-family: cambria;
  text-align: center;
  font-size: 19px;
  margin: 8px;
  padding: 4px;
}
.soundtrack {
  width: 300px;
  background-color: #000;
  opacity: 0.8;
  margin: 20px;
  display: inline-block;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
}
#musicgallery {
  display: flex;
  justify-content: center;
}

/* timeline */
#timeline {
    position: absolute;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    top: 50%;
    width: 100%;
}
#timelinecontainer {height: 820px;}
.timelineheading {
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
    padding: 5px;
    top: -5px;
    border-radius: 3px;
}
.timelineheading .timelineinfobox{
    font-size: 14px;
    visibility: collapse;
    height: 0px;
    opacity: 0;
    z-index: 117;
    top: 10px;
    width: 60px;
    transition: 0.4s;
}

.timelineheading:hover .timelineinfobox{
    display: block;
    z-index: 117;
    height: auto;
    width: 200px;
    margin-top: 10px;
    opacity: 1;
    visibility: visible;
}

.timestamp{
    transition: 0.4s;
    text-shadow: 0px 0px 2px #000,0px 0px 2px #000;
    z-index: 1;
    padding-left: 8px;
    position: absolute;
    left: 50%;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #fff; }
.smallupper{
    z-index: 4;
    height: 78px;
    top:-78;}
.upper{
    z-index: 3;
    height:128;;
    top:-128;}
.wayupper{
    z-index: 2;
    height: 178px;
    top:-178;
    
}
.lower{
    
    z-index: 3;
    padding-top: 100px;
}
.smalllower{
    z-index: 4;
    padding-top: 50px;
}
.waylower{
    
    z-index: 2;
    padding-top: 150px;
}
.marker{
    z-index: 2;
    outline-color: #fff;
    outline-style: solid;
    outline-width: 1px;
    margin-left: -3px;
    margin-top:-3px;
    position: absolute;
    height: 7px;
    width: 7px;
    transform:rotate(45deg);
}

    /* timeline ID tags */
    #settlements{
        left:40px;
}
    #strife{
        left:160px;
    
}
    #cohort{
        left:170px;
    
}
    #collapse{
        left:190px;
    
}
    #republic{
        left:193px;
    
    }
    #betrayal {left:400px;

    }
    #reckoning {
        left:420px;
    }
    #elia {
        left:425px;
}
    #defeat1{
        left: 563px;   
    }
    #defeat2{
        left: 600px
}
    #defeat3{
        left:590px
}
    #spell1{
        left:650px
}
    #spell2{
            left:655px
    }
    
    #landing{
        left:1150px;
    }
    #landing2{
        left:1148px;
    }
    #declaration{
        left:1151px
}

    /* centurylines */
    .centurymarker{
        width: 120px;
        font-size: 13px;
        padding: 5px;
        position: absolute;
        height: 810px;
        opacity: 0.4;
        border-left-style: solid;
        border-left-color: rgba(255,255,255,0.3);
        border-left-width: 1px;
        transition: 0.4s

    }
    .centurymarker:hover{
        opacity: 0.4;
        border-left-width: 2px;

    }
    #first{
        left: 120px;   
    }
    #second{
        left: 240px;   
    }
    #third{
        left: 360px;   
    }
    #fourth{
        left: 480px;   
    }
    #fifth{
        left: 600px;   
    }
    #sixth{
        left: 720px;   
    }
    #seventh{
        left: 840px;   
    }
    #eighth{
        left: 960px;   
    }
    #nineth{
        left: 1080px;   
    }
    #tenth{
        width: 400px;
        left: 1200px;   
    }
    #eleventh{
        left: 1320px;   
    }
    #twelth{
        left: 1440px;   
    }
    #thirteenth{
        left: 1560px;  
    
}